@use "sass:meta";


// sass variables

$primary-300: 215, 67%, 21%;
$primary-400: 198, 33%, 19%;
$primary-500: 76, 16%, 28%;
$secondary-300: 0, 96%, 67%;
$neutral-300: 0 0% 100%;
$neutral-400: 0, 0%, 90%;

$ff-300: 'Poppins', sans-serif;


// css variables 

:root {
    --primary-clr-300: #{meta.inspect($primary-300)};
    --primary-clr-400: #{meta.inspect($primary-400)};
    --primary-clr-500: #{meta.inspect($primary-500)};
    --secondary-clr-300: #{meta.inspect($secondary-300)};
    --neutral-clr-300: #{meta.inspect($neutral-300)};
    --neutral-clr-400: #{meta.inspect($neutral-400)};

    --fs-300: #{meta.inspect(clamp(0.7rem, 0.66rem + 0.2vw, 0.8rem))};

    --fs-400: #{meta.inspect(clamp(0.88rem, 0.83rem + 0.24vw, 1rem))};

    --fs-500: #{meta.inspect(clamp(1.09rem, 1rem + 0.47vw, 1.33rem))};

    --fs-600: #{meta.inspect(clamp(1.37rem, 1.21rem + 0.8vw, 1.78rem))};

    --fs-700: #{meta.inspect(clamp(1.71rem, 1.45rem + 1.29vw, 2.37rem))};

    --fs-800: #{meta.inspect(clamp(2.14rem, 1.74rem + 1.99vw, 3.16rem))};

    --fs-900: #{meta.inspect(clamp(2.67rem, 2.07rem + 3vw, 4.21rem))};

    --fs-1000: #{meta.inspect(clamp(3.34rem, 2.45rem + 4.43vw, 5.61rem))};

    --ff-300: #{meta.inspect($ff-300)};
}

