.current {
    font-weight: 700;
}

.p-block {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.p-block--lg {
    padding-top: 10rem;
    padding-bottom: 1rem;
}

.p-block--md {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

